<p id="notice"><%= notice %></p>

<p>
  <strong>Rows:</strong>
  <%= @game.rows %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @game.columns %>
</p>

<p>
  <strong>Mines:</strong>
  <%= @game.mines %>
</p>

<p>
  <strong>Status:</strong>
    <% if @game.status == 'lost'%>
      You Lost!
      <p><strong>Finalized at:</strong> <%= @game.finalized_at %><p>
    <% elsif @game.status == 'won'%>
      You Win!
      <p><strong>Finalized at:</strong> <%= @game.finalized_at %><p>
    <% else %>
      Active
    <% end %>
</p>

<table>
  <% for r in 1..@game.rows %>
    <tr>
      <% for c in 1..@game.columns %>
          <% if @game.cells.find_by(x: r, y: c)&.is_revealed == nil || @game.cells.find_by(x: r, y: c)&.is_revealed == false %>
            <td>
              <%= link_to reveal_game_path(id: @game.id, x: r, y: c), method: :post  do %>
                <i class="fa fa-eye"></i>
              <% end %>
              <%= link_to flag_game_path(id: @game.id, x: r, y: c, status: 'flag'), method: :post  do %>
                <% if @game.cells.find_by(x: r, y: c)&.status == 'flag' %>
                  <i class="fa fa-flag" style="color:red"></i>
                <% else %>
                  <i class="fa fa-flag"></i>
                <% end %>
              <% end %>
              <%= link_to flag_game_path(id: @game.id, x: r, y: c, status: 'question'), method: :post  do %>
                 <% if @game.cells.find_by(x: r, y: c)&.status == 'question' %>
                  <i class="fa fa-question" style="color:red"></i>
                <% else %>
                  <i class="fa fa-question"></i>
                <% end %>
              <% end %>
            </td>
          <% else %>
            <td> <%= @game.cells.find_by(x: r, y: c)&.valor %> </td>
          <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

a {
  text-decoration: none;
}
</style>

